<?xml version="1.0"?>
<launch>

  <!-- We simulate WillowGarage in gazebo-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/willowgarage.world"/>
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>-
    <arg name="headless" value="false"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Put Pioneer3at with hokuyo sensor in our gazebo world-->
  <include file="$(find vinyslam_demo)/launch/upload_pioneer3at-Hokuyo.xml"/>
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node pkg="tf" type="static_transform_publisher" name="tf_Hokuyo"
	      args="0.27 0 0.17 3.14 -1.57 0 base_link hokuyo 100" />

    <!-- Open Rviz window -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gmapping_demo)/launch/vinyslam.rviz"/>

   <node name="vinySlam" pkg="slam_fmwk" type="viny_slam"
         cwd="node" required="true" output="screen">
     <remap from="laser_scan" to="laser" />
     <param name="ros/tf/odom_frame_id" value="odom" />

     <!-- SLAM Components -->
     <param name="slam/occupancy_estimator/type" value="const" />
     <param name="slam/occupancy_estimator/base_occupied/prob" value="0.95" />
     <param name="slam/occupancy_estimator/base_occupied/qual" value="0.04" />
     <param name="slam/occupancy_estimator/base_empty/prob" value="0.01" />
     <param name="slam/occupancy_estimator/base_empty/qual" value="0.003" />

     <!-- Map -->
     <param name="slam/map/height_in_meters" value="100" />
     <param name="slam/map/width_in_meters" value="100" />
     <param name="slam/map/meters_per_cell" value="0.1" />

     <!-- Internal constants -->
     <param name="ros/skip_exceeding_lsr_vals" value="false" />
     <param name="vinySlam/hole_width" value="0.3" />  <!-- w < 0 for dynamic -->

     <!-- Monte Carlo Scan Matcher -->
     <!-- <param name="slam/scmtch/MC/seed" value="666666" /> -->
     <param name="slam/scmtch/MC/sigma_XY" value="0.2" />
     <param name="slam/scmtch/MC/sigma_theta" value="0.1" />
     <param name="slam/scmtch/MC/limit_of_bad_attempts" value="20" />
     <param name="slam/scmtch/MC/limit_of_total_attempts" value="100" />
   </node>

  <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard"  output="screen"/>




</launch>
